<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Shop App</a>
    <button class="navbar-toggler" data-bs-toggle="collapse"  data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
           <a routerLink="/" class="nav-link">Home</a>  
        </li>
        <li class="nav-item">
            <a routerLink="/products" class="nav-link">Products</a>  
         </li>
        </ul>
    </div>
  </div>
</nav>
